body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.zagrug {
    font-color: #3BC1CA;
}
.cc {
    /*color: #f2a900*/
    /*color: #bed600;*/
    /*color: #3BC1CA;*/
    color: #fff;
}
.bb {
    color: #27A6A8;
}